.base-layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  /* Barre de navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top : 30px;
  padding: 10px 20px 20px;
  background: #007bff;
  color: #fff;
  position: relative;
  z-index: 1000;
}

.logo {
display: none;
}

.app-title {
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Icône de menu (trois barres) */
.menu-icon {
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

/* Barre supérieure */
.menu-icon::before {
  content: '';
  display: block;
  background: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0; /* Position en haut */
  left: 0;
  border-radius: 2px;
}

/* Barre inférieure */
.menu-icon::after {
  content: '';
  display: block;
  background: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0; /* Position en bas */
  left: 0;
  border-radius: 2px;
}

/* Barre centrale */
.menu-icon div {
  background: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 50%; /* Position au centre */
  left: 0;
  transform: translateY(-50%); /* Centre verticalement */
  border-radius: 2px;
}


/* Menu déroulant */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Positionné juste en dessous du header */
  left: 0; 
  background: #72a6dd;
  color: #fff;
  width: auto;
  padding: 10px;
  border-radius: 0 0 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre */
  z-index: 1000;
}

.dropdown-menu.open {
  color: #fff;
  display: flex; /* Affiche le menu déroulant */
  gap: 10px; /* Espace entre les éléments */
}

.sutitle-menu {
  color: #000;
  font-size: 1rem;
  padding: 10px 15px;
  text-align: left;
  background: #007bff;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sutitle-menu:hover {
  color: #fff;
  background: #5c8abb;
}

/* Responsive styles */
@media (max-width: 768px) {

  .logo {
    display: none; /* Cache le logo */
  }

  .menu-icon {
    display: block; /* Affiche l'icône de menu */
  }

  .app-title {
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
  }

  .profile-picture {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%; /* Occupe toute la largeur */
    background: #72a6dd;
    border-radius: 0 0 6px; /* Supprime les coins arrondis */
  }
  .dropdown-menu.open {
  display: flex; /* Affiche le menu déroulant */
  flex-direction: column;
}
  .sutitle-menu{
    color: #fff;
  }
}